[Desktop Entry]
Name=Aptana Studio 3
Comment=Integrated development environment (IDE) for building Ajax web applications.
Exec=/home/dane/opt/Aptana_Studio_3/AptanaStudio3.sh
Icon=aptana
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;RevisionControl;
X-GNOME-FullName=Aptana Studio 3
